form
  :background #eee
  // <li> Field wrappers
  li
    :padding 10px 0px
    // <li> Check/Radio wrappers
    li
      :padding 0
  //--------------------------------------------------------
  // Fieldsets
  //--------------------------------------------------------
  fieldset
    :margin-top 20px
  // Be sure to override styling for nested fieldsets
  li
    fieldset
      :padding 0
  //--------------------------------------------------------
  // Legend & Labels
  //--------------------------------------------------------
  legend, label
    // Set color manually to override IE's stupid rules for legends
    :color #333
  label, .label
    :padding-bottom 5px
    // required * <--styling
    abbr
      :color #f00
  label
    :line-height 1.4em
    :font-size 13px
  legend
    span
      :font-size 1.4em
      // Set lineheight for dumb IE
      :line-height 1em
      &.label
        :font-size 1em
  //--------------------------------------------------------
  // Inputs
  //--------------------------------------------------------
  select
    :padding 3px
  input, textarea, select
    :font-family inherit
    :font-size 14px
  textarea, input
    :border 1px solid #999
    :padding 6px 8px
    :line-height 100%
  //--------------------------------------------------------
  // Date Time Styling
  //--------------------------------------------------------
  .date, .time, .datetime
    li
      :margin 0 0.3em 0 0
  //--------------------------------------------------------
  // Feedback (Requirements, Errors and Hints)
  // Add horizontal margin/padding with care as it can
  // break the layout on floats!
  //--------------------------------------------------------
  #errorExplanation
    li
      :margin-left 15px
  form p, .errors
    :padding 3px 0px
  .required
    input,textarea,select
      :background-color #fff
  .error
    input,textarea,select
      :background-color #fcc
      :border 1px solid #f66
  .optional
    input,textarea,select
      :background-color #fff
  .errors
    :color #a00
    li
      :margin-left 1.2em
  p.inline-errors
    :color #f00
  p.inline-hints
    :color #777
  //--------------------------------------------------------
  // Submit Buttons
  //--------------------------------------------------------
  .buttons
    :padding-top 8px
    :padding-bottom 8px
    :margin-top 8px
    li
      :padding-right 0.5em
    input
      :border 1px solid #999